@model EmailViewModel

<div class="container">

  <div class="row">

    <div class="box">
          @if (TempData["SuccessMessage"] != null)
          {
              <div class="alert alert-success" >
                <strong>@TempData["SuccessMessage"] </strong>
              </div>
          }
      <div class="col-lg-12 text-center">
        <div id="carousel-example-generic" class="carousel slide">
          <img class="img-responsive img-border img-full" src="@Url.Content("~/content/images/img-1.jpg")" alt="">
        </div>
        <br><br>
        <h1 class="brand-name">M&M Crosstown</h1>
        <hr class="tagline-divider">
        <h2>
          <i> "You Call, We Haul"</i>
        </h2>
      </div>
    </div>
  </div>

        <div id="services" class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h1 class=" text-center">
                        <strong>Services</strong>
                    </h1>
                    <hr>


                    <img class="img-responsive img-border img-full" src="@Url.Content("~/content/images/img-2.jpg")" alt="">
                    <hr class="visible-xs">
                    <br>
                    <p> Here at M&M Crosstown , we offer a variety of sevices including : </p>
                    <ul>
                        <li>Moving</li>
                        <li>Furniture Delivery </li>
                        <li>Storage packing and unpacking </li>
                        <li>Furniture assembly (We do house calls!)</li>
                        <li>Furniture Haul-off</li>
                    </ul>


                </div>
            </div>
        </div>

        <div id="contact" class="row ">
            <div class="box">
                <div class="col-lg-12">
                   
                    <div class="item contact padding-top-0 padding-bottom-0" id="contact1">
    	
    		<div class="wrapper grey">
    	
    			<div id="quote" class="container">
    		
    				<div class="col-md-5">
    			
    					<h3 class="margin-bottom-40 editContent">Get a FREE Quote</h3>

                          @using (Html.BeginForm("SendMail", "Home", FormMethod.Post))
                          {




								@Html.ValidationSummary(false, "", new { @class = "text-danger" })
	    						<div class="form-group">
									@Html.TextBoxFor(m=>m.name,new{ @class="form-control input-lg" ,@placeholder="Your name *"})

	    				  		</div>

                              <div class="form-group">
                                @Html.TextBoxFor(m=>m.email_address,new{ @class="form-control input-lg" ,@placeholder="Email address *" , @type="email"})

                              </div>

                              <div class="form-group">
                                @Html.TextBoxFor(m=>m.phone,new{ @class="form-control input-lg" ,@placeholder="Phone *" , @type="phone"})

                              </div>

                              <div class="form-group">
                                @Html.TextAreaFor(m=>m.comments,new{ @class="form-control input-lg" ,@placeholder="Add comment...", @rows=4})

                              </div>



	    				  		<hr>

	    				  		<button type="submit" class="btn btn-primary btn-embossed btn-lg btn-wide">Submit</button>



                          }


    			
    				</div><!-- /.col-md-5 -->
    			
    				<div class="col-md-6 col-md-offset-1">
	    				
	    				<div class="editContent">
    					<h1>Contact Us:</h1>
    				
    					<p class="text-light margin-bottom-40">
    						Best times to reach us are 9am- 8pm.
                                                <br>
                                                We are avaibile everyday.
    					</p>
	    				</div><!-- /.editContent -->
    				
    					
    				
    					<p>
    						<b class="chead"><span class="fa fa-phone"></span> PHONE</b><br>
    						<span class="editContent">615-812-2229</span>
    					</p>
    				
    					<p>
    						<b class="chead"><span class="fa fa-envelope"></span> EMAIL</b><br>
    						<a href="#" class="editContent">moorernash@aol.com</a>
    					</p>
    			
    				</div><!-- /.col-md-6 -->
    		
    			</div><!-- /.container -->
    		
    		</div><!-- /.wrapper -->
    	
    	</div>
                
                    
                </div>
            </div>
        </div>

    </div>
    @section Scripts
	{
		<script type="text/javascript">
		$(document).ready(function () {
			
		    var anchor = document.getElementById('@Model.section');
		    anchor.scrollIntoView(true);
		});
		</script>
	}
